# AWS EC2 Dynamic Inventory
# This file enables Ansible to automatically discover EC2 instances
# Requires: pip install boto3 botocore

plugin: aws_ec2

regions:
  - us-east-1

filters:
  tag:Project: devops-mid
  instance-state-name: running

keyed_groups:
  - key: tags.Environment
    prefix: env
  - key: tags.Name
    prefix: name
  - key: instance_type
    prefix: instance_type

hostnames:
  - ip-address

compose:
  ansible_host: public_ip_address
  ansible_user: "'ec2-user'"
  ansible_ssh_private_key_file: "'~/.ssh/id_rsa'"
  ansible_python_interpreter: "'/usr/bin/python3'"
